<div class="post-form">
	<%= form_for(@post) do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "New Post" %>

		<%= f.label :body %>
		<%= f.text_area :body, rows:"9" , placeholder: @post.post_example %>

		<%= f.label :tag %>
		<%= f.text_field :tag, placeholder: "Add a Tag" %>

		<%= f.label :published %>
		<%= f.check_box :published %>

		<%= f.button "Update Post", class: "button" %>
	<% end %>
</div>
