<div class="post-cover" <% if @post.photo? %>style="background-image:url(&quot;<%= ActionController::Base.helpers.asset_path(@post.photo) %>&quot;);"<% end %>></div>
<div class="post-form">
	<%= form_for(@post) do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "New Post" %>

		<%= f.label :body %>
		<%= f.text_area :body, rows:"30" , placeholder: @post.post_example %>

		<%= f.label :photo %>
		<%= f.text_field :photo, placeholder: "photo.png" %>

		<%= f.label :tag %>
		<%= f.text_field :tag, placeholder: "Add a Tag" %>

		<%= f.label :published %>
		<%= f.check_box :published %>

		<%= f.button "Update Post", class: "button" %>
		<%= link_to 'Delete Post?', @post, :confirm => "Are you sure?", :method => :delete, :class => "button" %>
	<% end %>
</div>
