<div class="default-cover"></div>
<div class="post-form">
		<%= form_for(@post) do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "New Post" %>

		<%= f.label :body %>
		<%= f.text_area :body, rows:"30" , placeholder: @post.post_example %>

		<%= f.label :photo %>
		<%= f.text_field :photo, placeholder: "photo.png" %>

		<%= f.label :tag %>
		<%= f.text_field :tag, placeholder: "Add a Tag" %>

		<%= f.label :published %>
		<%= f.check_box :published %>

		<%= f.button "Save Post", class: "button" %>
	<% end %>
</div>
