<div class="post-cover"></div>
<article class="post">
	<div class="show-post-date">
		<span class="stamp-month"><%= @post.created_at.localtime.strftime("%b") %></span>
		<span class="stamp-date"><%= @post.created_at.localtime.day %></span>
	</div>
	<h1 class="post-title"><%= @post.title %></h1>
	<div class="post-body"><%= markdown(@post.body) %></div>
</article>
<%= render 'posts/disqus' %>