<% provide(:title, 'Work') %>

<div class="work-cover image-cover">
</div>
<div class="tagline">Selected work and projects</div>

<article class="index-post">
	<%= link_to(boosted_path, class:"article-link") do %>
		<h1 class="post-title">Boosted</h1>
		<div class="post-body">Boosted is creating the world's lightest electric vehicle. Built on top of a high performance longboard, the Boosted drivetrain can propel you up to 20 mph for a range of 6 miles.
		</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(rpmwest_path, class:"article-link") do %>
		<h1 class="post-title">RPMWEST</h1>
		<div class="post-body">RPMWEST is a denim company providing the simplest way to get the perfect pair of jeans. When you order jeans, you get three delivered in the mail. Try them on, find your perfect fit and return the other two jeans free of charge.
		</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(ribbon_path, class:"article-link") do %>
		<h1 class="post-title">Ribbon</h1>
		<div class="post-body">Ribbon is an online payments platform that allows merchants to easily sell goods and services using a shortened URL that can be shared across social media, email, websites and blogs.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(chicagofounders_path, class:"article-link") do %>
		<h1 class="post-title">Chicago Founders</h1>
		<div class="post-body">Chicago Founders is a Q&A forum for Chicago entrepreneurs. The forum was designed to support the budding entrepreneurial community in Chicago.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(accenture_path, class:"article-link") do %>
		<h1 class="post-title">Accenture Technology Labs</h1>
		<div class="post-body">Technology Labs is Accenture's dedicated research & development division, defining the firm's technology vision and developing new business solutions from emerging technologies.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(exec_path, class:"article-link") do %>
		<h1 class="post-title">Exec</h1>
		<div class="post-body">I completed some design work for the folks at Exec, a service for on-demand labor. In this project, I focused on the brand identity and designed a splash page that would quickly communicate the value proposition.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(googlecafes_path, class:"article-link") do %>
		<h1 class="post-title">Google Cafes</h1>
		<div class="post-body">The Google Cafes project is a design exercise to create a web application that allows Googlers to easily decide where to eat on campus.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(ferrari_path, class:"article-link") do %>
		<h1 class="post-title">Ferrari Design Language</h1>
		<div class="post-body">I have been a long time fan of Ferrari. Their cars are a pure representation of form following function. I wanted to capture the design language of Ferrari and translate that to the industrial design of a sound system.</div>
	<% end %>
</article>

<article class="index-post">
	<%= link_to(snocom_path, class:"article-link") do %>
		<h1 class="post-title">Snocom Concept</h1>
		<div class="post-body">Snocom was a project to develop a device for snow sports enthusiasts that would allow for readily accessible communication.</div>
	<% end %>
</article>

