<div class="work-cover">
</div>
<div class="tagline">Selected work and projects</div>
<article class="post">
	<%= link_to(ribbon_path, class:"article-link") do %>
		<h1 class="post-title">Ribbon</h1>
		<div class="post-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(chicagofounders_path, class:"article-link") do %>
		<h1 class="post-title">Chicago Founders</h1>
		<div class="post-body">Chicago Founders is a Q&A community for Chicago entrepreneurs. The forum was designed to help support the budding entrepreneurial community in Chicago...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(accenture_path, class:"article-link") do %>
		<h1 class="post-title">Accenture Technology Labs</h1>
		<div class="post-body">I designed and developed web and mobile applications for Accenture's dedicated research & development group, Technology Labs...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(exec_path, class:"article-link") do %>
		<h1 class="post-title">Exec</h1>
		<div class="post-body">I completed some design work for the folks at Exec, a service for on-demand labor. In this project, I focused on the brand identity and designed a splash page that would quickly communicate the value proposition...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(googlecafes_path, class:"article-link") do %>
		<h1 class="post-title">Google Cafes</h1>
		<div class="post-body">The Google Cafes project is a design exercise to create a web application that allows Googlers to easily decide where to eat on campus...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(ferrari_path, class:"article-link") do %>
		<h1 class="post-title">Ferrari Design Language</h1>
		<div class="post-body">I have been a long time fan of Ferrari. Their cars are a pure representation of form following function. I wanted to capture the design language of Ferrari and translate that to the design of a sound system...</div>
	<% end %>
</article>

<article class="post">
	<%= link_to(snocom_path, class:"article-link") do %>
		<h1 class="post-title">Snocom Concept</h1>
		<div class="post-body">Snocom was a project to develop a device for snow sports enthusiasts that would allow for readily accessible communication...</div>
	<% end %>
</article>

