<header>
	<div class="about-area">
		<%= link_to "å‰", root_path, class:"home" %>
		<span id="about-me"></span>
	</div>
	<nav class="navigation">
		<%= link_to "About", about_path %>
		<%= link_to "Work", work_path %>
		<%= link_to "Blog", blog_path %>
		<%= link_to "Contact", contact_path %>
	</nav>
</header>